altair
attrs
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
et_xmlfile
folium
fonttools
geopandas
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
mapclassify
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
networkx
numpy
openpyxl
packaging
pandas
pillow
pip
plotly
protobuf
pyarrow
pydeck
Pygments
pyogrio
pyparsing
pyproj
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
shapely
six
smmap
st-theme
streamlit
streamlit_folium
streamlit-navigation-bar
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
xyzservices